.contato{
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    padding: 3.2rem;
}

.contato__titulo{
    font-size: var(--fonte-18);
    color: var(--azul-escuro);
    font-weight: var(--medium);
}

.contato__descrição{
    font-size: var(--fonte-16);
    color: var(--azul-escuro);
    font-weight: var(--light);
    margin: 1.6rem 0;
    line-height: 2.4rem;
}

.email__contato{
    height: 4.4rem;
    border: .1rem solid var(--azul-escuro);
    border-radius: 2.5rem;
    width: 100%;
    font-size: var(--fonte-16);
    font-weight: var(--regular);
    color: var(--azul-escuro);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    padding-left: 2.4rem;
}

.email__contato::placeholder{
    color: var(--azul-escuro);
    background-image: url("../imagens/Email.svg");
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    padding-left: 3.2rem ;
    background-position: 0 .5rem;
}

.email__contato:focus::placeholder{
    color: transparent;
    background-image: none;
}

.email__contato:focus{
    border-color: aqua;
}


@media screen and (min-width: 1024px){

    .contato{
        flex-direction: row;
        justify-content: center;
        padding: 4.8rem 0;
        gap: 5vw;
    }

    .contato__texto{
        display: flex;
        flex-direction: column;
        width: 32rem;
        gap: 2.4rem;
    }

    .contato__titulo{
        font-size: var(--fonte-24);
        line-height: 3.6rem;
    }

    .contato__descrição{
        font-size: var(--fonte-16);
        color: var(--azul-escuro);
        font-weight: var(--light);
        margin: 0;
    }

    .email__contato{ 
        width: 40%;
        box-sizing: border-box;
        padding-left: 2.4rem;
        margin: auto 0;
    }

    
}

@media screen and (min-width: 1728px){

    .contato{
        gap: 5vw;
    }

    .contato__texto{
        width: 39.2rem;
        gap: 1.6rem;
    }

    .email__contato{
        width: 35vw;
    }

}

@media screen and (max-width:390px) {

    .contato__titulo{
        line-height: 2.8rem;
    }

    .contato__descrição{

        margin-top: 1rem;
    }
    
}



